
body{
background-color: coral;
}

.link: {
color : green ;
}

.link:visited {
color : grey ;
}

.link:hover {
color : black ;
}

.link:active {
color : blue ;
}

#c1{
cursor: crosshair;
}
#c2{
cursor:pointer;
}
#c3{
cursor: grabbing;
}
#c4{
cursor: vertical-text;
}
#c5{
cursor: wait;
}
#c6{
cursor: help;
}

